[MESSAGES CONTROL]

disable=
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-many-nested-blocks,
    too-many-return-statements,
    trailing-whitespace,
